:root {  
  --main-font-family: 'Inter-Variable', sans-serif;
  --accent-font-family: 'PressStart2P', sans-serif;
  --main-font-size: 18px;
    
  --main-font-weight: 400;
  --main-font-weight-title: 700;

  --background-color: #FFFFFF;
  --accent-color: #000000;

  --background-image: url('../svg/pattern-light.svg')
}